@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;500&display=swap');


body {
	margin: 0;
	overflow: hidden;
	background-color: #f0f0f0;
	font-family: 'Hanken Grotesk', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.5;
}

section {
    max-width: 100%;
	position: fixed;
	bottom: 0;
	justify-content: center;
    height: 100vh;
}

section.toolbox {
	bottom: 2%;
	left: 1%;
	height: 95vh;
	width: 160px;
    justify-content: center;
    justify-items: center;
	padding: 5px;
	background-color: rgb(255, 255, 255);
	border: 1px solid #dfdfdf;
    border-radius: 15px;
	display: flex;
    flex-wrap: wrap;
	flex-direction: column;
    z-index: 1;
}

section.canvas {
	right: 0;
	width: calc(100vw - 400px);
	display: flex;
	justify-content: center;
	align-items: center;

	
}

section.toolbox > div {
	padding: 10px 16px 10px 16px;
	
}

h2 {
	margin-bottom: 10px;
	font-family: 'Hanken Grotesk', sans-serif;
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
}

label {
	display: block;
	margin-bottom: 5px;
	font-size: 15px;
}

label > * {
	margin-top: 5px;
}

input, button, select {
	font-size: 15px;
	font-family: 'Hanken Grotesk', sans-serif;
	font-weight: 300;
	width: 100%;
	height: 30px;
	margin-bottom: 5px;
    padding: 0 5px;
	border: 1px solid #f0f0f0;
	border-radius: 15px;
	background-color: #f0f0f0;
	line-height: 1;

}

input:hover, button:hover, select:hover {
	background-color: #dfdfdf;
}

input[type="range"] {
	height: 5px;
    border-radius: 12px;
}
@media only screen and (max-width: 720px) {
	body {
		margin: 0;
		overflow: hidden;
		background-color: #f0f0f0;
		font-family: 'Hanken Grotesk', sans-serif;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.2;
		}
		
		section {
		max-width: 100%;
		position: fixed;
		bottom: 0;
		}
		
		section.toolbox {
		position: fixed;
		bottom: 1%;
		left: 2%;
		width: 30em;
		justify-content: center;
   		 justify-items: center;
		height: 28%;
		padding: 5px;
		background-color: rgb(255, 255, 255);
		border: 1px solid #dfdfdf;
		border-radius: 15px;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;

		}
		
		section.toolbox.active {
		display: flex;
		}
		
		section.canvas {
		width: 100%;
		height: cal(100vh - 28%);
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 100px;
		}
		
		section.toolbox > div {
		padding: 10px;
		
		}
		
		h2 {
		margin-bottom: 8px;
		font-family: 'Hanken Grotesk', sans-serif;
		font-weight: 400;
		font-size: 13px;
		text-transform: uppercase;
		}
		
		label {
		display: block;
		margin-bottom: 5px;
		font-size: 13px;
		}
		
		label > * {
		margin-top: 5px;
		}
		
		input, button, select {
		font-size: 13px;
		font-family: 'Hanken Grotesk', sans-serif;
		font-weight: 300;
		width: 100%;
		height: 30px;
		margin-bottom: 5px;
		padding: 0 5px;
		border: 1px solid #f0f0f0;
		border-radius: 15px;
		background-color: #f0f0f0;
		line-height: 1;
		
		}
		
		input:hover, button:hover, select:hover {
		background-color: #dfdfdf;
		}
		
		input[type="range"] {
		height: 5px;
		border-radius: 12px;
		}
		
		@media only screen and (min-width: 600px) {
		section {
		height: auto;
		}